* {
  box-sizing: border-box;
  font: "Fira Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

.title {
  font-weight: 600;
  font-size: 25px;
}

.search {
  min-height: 100vh;
  background-color: #f4f0f0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15%;
}

.search_input {
  width: 600px;
  text-align: start;
}

.searchResultInput {
  background-color: #f4f0f0;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchResultInput_content {
  width: 90%;
}

.searchResultInput_input {
  padding-top: 10px;
}

.search_title {
  padding-bottom: 20px;
}

.resultList_title {
  font-weight: 400;
  font-size: 15px;
}

.resultList {
  min-height: 100vh;
  background-color: #f4f0f0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.resultList_videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.resultList_content {
  width: 90%;
}

.resultList_video {
  padding-top: 20px;
  width: 24%;
  padding: 5px;
}

.resultList_video-title {
  width: 250px;
}

.resultList_video-channelTitle {
  color: rgb(126, 126, 126);
  width: 250px;
}